footer.footer
    span.todo-count
        strong 0
        |  item left
    ul.filters
        li
            a.selected(href='#/') All
        li
            a(href='#/active') Active
        li
            a(href='#/completed') Completed
    // Hidden if no completed items are left ↓
    button.clear-completed Clear completed